body {
  background-image: url(background.png);
  background-repeat: repeat-x;
  font-family: Georgia;
}

h1 {
  font-family: Comic Sans MS;
  color: darkblue;
  font-size: 60px;
  text-align: center;
}

h4 {
  text-align: center;
}

h3 {
  text-align: center;
}

.a1 {
  color: orangered;
  font-variant-caps: petite-caps;
}

.a1:hover {
  color: red;
}

.a2 {
  color: blue;
  font-weight: bold;
}

.a2:hover {
  background-color: blue;
  color: white;
}

.pertama {
  color: orange;
  text-align: center;
}

.kedua {
  text-align: right;
}
