body {
  font-family: system-ui;
  background-color: azure;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 1000px;
}

h1 {
  font-family: arial;
}

img {
  border: 5px solid black;
  border-radius: 20px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: aqua;
  color: purple;
  border-radius: 5px;
}
