body {
  background-color: lightblue;
  font-family: Helvetica;
}

td {
  background-color: lightcoral;
}

a {
  text-decoration: none;
  color: darkslategrey;
}

a:hover {
  background-color: azure;
  color: blue;
  border-radius: 50px;
}
